.form-container {
    margin-top: 100px;
    margin-right: auto;
    width: 50%;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: white;
    margin-bottom: 4px;
    margin-left: 16px;
  }
  
  .input-group input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: white;
    padding: 0.75rem 1rem;
    color: rgba(156, 163, 175,1);
    font-family: 'poppinsregular';
  }
  .input-group select{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: white;
    padding: 0.75rem 1rem;
    color: rgba(156, 163, 175,1);
    font-family: 'poppinsregular';
  }
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  .operacoes{

  }
  .sign {
    margin-top: 8%;
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    font-family: 'poppinsbold';
    
  }